%h1 Listing orders

%table
  %thead
    %tr
      %th First name,
      %th Last name,
      %th Address
      %th City,
      %th Zip code,
      %th Phone,
      %th Email,
      %th Pay type,
      %th Delivery type
      %th
      %th
      %th
      
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.first_name,
        %td= order.last_name,
        %td= order.address
        %td= order.city,
        %td= order.zip_code,
        %td= order.phone,
        %td= order.email,
        %td= order.pay_type,
        %td= order.delivery_type
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Order', new_order_path
