.cart
  %header
    %h2.title-cart
      =t('cart.title')
    %span.quantity
      = @cart.line_items.sum(:quantity)
  .cart-body
    .cart-item-list
      -if @cart.line_items.length == 0
        .animated.fadeIn
          .empty-cart
            = @cart.empty
      %ul.line-item
        =render partial: 'static/line_item'
  %footer
    .calculating
      %div
        %dl.calculation
          %dt
            = t('cart.subtotal')
          %dd
            = @cart.subtotal_price
        %dl.calculation
          %dt
            = t('cart.shipping')
          %dd Бесплатно
        %dl.calculation.total
          %dt
            = t('cart.total')
          %dd $500
    %nav.cart-nav
      .keep-shopping
        %span.cart-action-text{data: {path: render_cart_ico_path}}
          =t('cart.keep_shoping_html')
      .checkout
        =link_to t('cart.checkout'), new_order_path, method: :get, class: 'cart-action-text checkout-link'
