.store
  - if notice
    %p#notice= notice
  .filter-block
  .catalog-view
    %ul.items-list
      -cache ['items-list', Product.latest] do
        - @products.each do |product|
          - cache ['item', product] do
            %li.item{data: {:'product-id' => product.id}}
              =link_to product_path(product) do
                = image_tag(product.product_attachments.first.image_url(:medium), class: 'product-image') unless product.product_attachments.blank?
                .details
                  .title
                    = product.title
                  .price
                    = "от #{number_to_currency(product.product_properties.minimum(:property_price).to_i)}"